.moveLeftAnimation {
  animation: moveInLeft 1s ease-out;
  backface-visibility: hidden;
}
.reveal-left {
  animation: moveInLeft 1s ease-out 0.3s;
  backface-visibility: hidden;
  animation-fill-mode: backwards;
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.moveRightAnimation {
  animation: moveInRight 1s ease-out;
  backface-visibility: hidden;
}
.reveal-right {
  animation: moveInRight 1s ease-out 0.3s;
  backface-visibility: hidden;
  animation-fill-mode: backwards;
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.moveBottomAnimation {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
  backface-visibility: hidden;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* Section reveal animation classes  */
.section {
  transition: all 0.8s;
}
.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}
